@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #000;
  --dark: #111;
  --light: #fffdfa;
  --main: #ff4500;
}

* {
  touch-action: none;
}

body {
  background-color: var(--dark);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow: hidden;
}

.score-wrapper {
  position: absolute;
  color: var(--light);
  padding: 8px;
  font-size: 14px;
  user-select: none;
}

.volume-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  color: var(--light);
  cursor: pointer;
}

#modal-el {
  display: none;
}

#modal-el,
#start-modal-el {  
  position: absolute;
  background-color: var(--light);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
}

.game-over {
  font-size: 14px;
  color: var(--main);
}

#modal-score-el {
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 8px;
}

.points {
  margin: 0;
  font-size: 14px;
  color: var(--main);
}

#button-el,
#start-button-el {
  margin-top: 12px;
  background-color: var(--main);
  color: var(--light);
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.title {
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 8px;
}